textarea{
	resize: none;
}
.delete {
	cursor: pointer;
}

.archive {
	cursor: pointer;
}
.duplicate {
	cursor: pointer;
}
.edit {
	cursor: pointer;
}
.favorite {
	cursor: pointer;
}

.rotate {
	rotate: 0deg;
}

.fa-heart{
	cursor: pointer;
}
.fa-circle {
	scale: 0.4;
}

.fa-plus {
	cursor: pointer;
}

.fa-ellipsis{
	scale: 1.1;
	cursor: pointer;
	padding: 5px;
}

.cancel{
	cursor: pointer;
	box-shadow: 0 0 2px;
}