:root{
	--mainColor: brown;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	overflow-x: hidden;
}

body {

	color: black;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	position: sticky;
	background-color: var(--mainColor);
	height: 90px;
	color: white;
	z-index: 1;
}

.header-container {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fa-bars {
	scale: 1.8;
	margin-left: 50px;
	cursor: pointer;
}
.sidebar {
	height: 100%;
	width: 200px;
	position: fixed;
	box-shadow: 0px 0px 3px;
	transition: transform 0.3s ease-out;
}

.sidebar-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.lists {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.lists-actions {
	visibility: hidden;
	display: flex;
	gap: 10px;
}

.lists:hover .lists-actions {
	visibility: visible;
}
.lists-create {
	display: flex;

	align-items: center;
	width: 100%;
	justify-content: space-around;
}

.lists-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	transition: 0.2s ease-in-out;
}
.lists-list li {
	display: flex;
	width: 70%;
	justify-content: space-between;
}

.popup {
	width: 30vw;
	height: 60vh;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-20%, -50%);
	padding: 40px;
	z-index: 3;
	border-radius: 20px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	filter: blur(1000px);
	z-index: 1;
	display: none;
}
.create-popup{
	display: none;
	justify-content: space-between;
	flex-direction: column;
}

.create-item-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	gap: 10px;
}

.create-item-wrapper input[name=header_input]{
	resize: none;
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px 20px;
}
.create-item-wrapper textarea[name=description_input]{
	resize: none;
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px;
}

.input-group{
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.buttons{
	flex-direction: row;
	gap: 10px;
}
.create-item{
	width: 130px;
	padding: 5px 30px;
}

.button{
	width: 130px;
	padding: 5px 30px;
	border-radius: 10px;
	border: none;
}

.create-list{
	background-color: var(--mainColor);
	color: white;
}

.cancel{
	cursor: pointer;
}