:root {
	--mainColor: brown;
	--secColor: #808080;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	overflow-x: hidden;
}

html,
body {
	height: 100%;
}

body {
	color: black;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
main {
	overflow: hidden;
	display: flex;
	height: 100vh;
}

header {
	background-color: var(--mainColor);
	height: 90px;
	color: white;
}

.header-container {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fa-bars {
	scale: 1.8;
	margin-left: 50px;
	cursor: pointer;
}

.sidebar {
	height: 100%;
	width: 200px;
	box-shadow: 0px 0px 3px;
	transition: transform 0.3s ease-out;
	color: var(--secColor)
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	gap: 40px;
}

.lists {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 40px;
}

.lists-actions {
	visibility: hidden;
	display: flex;
	gap: 10px;
}

.lists:hover .lists-actions {
	visibility: visible;
}
.lists-create {
	display: flex;

	align-items: center;
	width: 100%;
	justify-content: space-around;
}

.lists-list {
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	transition: 0.2s ease-in-out;
}
.lists-list li {
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
}

.popup {
	width: 30vw;
	height: 60vh;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	z-index: 3;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	filter: blur(1000px);
	z-index: 1;
}
.create-popup {
	width: 500px;
	height: 450px;
	display: none;
	justify-content: space-between;
	flex-direction: column;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	gap: 10px;
}

.form-wrapper input[name="header_input"] {
	resize: none;
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px 20px;
}
.form-wrapper textarea[name="description_input"] {
	resize: none;
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.buttons {
	flex-direction: row;
	gap: 10px;
}
.create-item {
	width: 130px;
	padding: 5px 30px;
}

.button {
	width: 130px;
	padding: 5px 30px;
	border-radius: 10px;
	border: none;
}

.submit-button {
	background-color: var(--mainColor);
	color: white;
}

.dropdown {
	position: absolute;
	width: 145px;
}

.action-menu {
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.action-menu-item {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 7px;
	border-top: 1px solid black;
	cursor: pointer;
}

.action-menu-item:last-child {
	border-bottom: 1px solid black;
}

.delete-popup {
	width: 400px;
	height: 250px;
	display: none;

	gap: 30px;
}

.edit-popup{
	display: none;
	width: 400px;
	height: 450px;
}

.delete-list {
	background-color: var(--mainColor);
}

.favorites{
	width: 100%;
}

.favorites-header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 20px;
}

.favorites-list{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	transition: 0.2s ease-in-out;

}

.list-favorite-element{
	display: flex;
	width: 90%;
	justify-content: space-between;
}

