.show{
	display: flex;
	transition: all 0.3s ease-in-out;
	top: 50%;
}

.fa-angle-left {
	cursor: pointer;
	rotate: -90deg;
	transition: 0.2s ease-in-out;
}

.slide {
	transform: translateX(-100%);
	width: 0;
	
}


.fade {
	opacity: 0;
	transform: translateY(-300%);
}

.hide{
	display: none;
}

.fill{
	color: red;
}


.splash-active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.8s;
}

.splash-fade {
	bottom: 100px;
	opacity: 0;
	transition: ease-in-out 0.8s;
}

.fa-solid{
	cursor: pointer;
}

.completed{
	text-decoration: line-through;
}