.show{
	display: flex;
}

.fa-angle-left {
	cursor: pointer;
	rotate: -90deg;
	transition: 0.2s ease-in-out;
}

.slide {
	transform: translateX(-100%);
}


.fade {
	opacity: 0;
	transform: translateY(-200%);
}

.hide{
	display: none;
}

.fill{
	color: red;
}